@model TravelPackage.Models.tpProducts

<div class="row">
    <div class="col-md-8">
        <h1>Airfare to Bohol</h1>
        <h3>Airport: Tagbilaran</h3>
        <hr />
        <h2>Origin: Manila</h2>
        <h3>Average Rate </h3>
        <h3> Cebu Pacific: P2,300</h3>
        <h3> Philippine Airlines: P2,700</h3>
        <h3> Note: Actual rate subject to actual purchase </h3>
        <hr />

    </div>
</div>

