@model TravelPackage.Models.tpProducts

<div class="row">
    <div class="col-md-8">
        <h3>Description</h3>
        <p>
            <br />Pickup: 7-8am Bohol areas
            <br />Time: It will take around 6-8 hrs tour
        </p>
        <hr />
        <h3>Destinations</h3>
        <p> 1. Dauis Church </p>
        <p> 2. Hinagdanan Cave</p>
        <p> 3. Panglao Church </p>
        <p> 4. Bee Farm</p>
        <p> 5. Beach Resorts</p>

        <h3>Inclusions</h3>
        <p>
            <br />Airconditioned Transportation for the group
            <br />Destination Entrances
        </p>
        <hr />

    </div>
</div>

