@model TravelPackage.Models.tpProducts

<div>
    <h3>Destinations</h3>
	<p>
		<br /> 1. Sunken Cemetery 
		<br /> 2. White island
		<br /> 3. Katibawasan falls 
		<br /> 4. Ardent Hot Spring
		<br /> 5. Walkway to Old Volcano 
		<br /> 6. Gui-ob Church 
		<br /> 7. Sto. Niño Cold Spring 
	</p>
	
    <h3>Inclusions</h3>
    <p>
        <br />Transportation from hotel/airport to Camiguin and back to airport or hotel
		<br />Applicable Entrances
		<br />
		<br />Exclusions (available upon request)
		<br />Airfare, Tour guide, Meals and Accommodation

    </p>
    <hr />

</div>
