@model IEnumerable<TravelPackage.Models.tpCategory>

@{
    ViewBag.Title = "Product Categories";
    ViewBag.metaTitle = "Product categories  Tour Packages|vacation|travel";
}

<h2>Product Categories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Description, "PackagesByCategory", "TravelTourPackages", new { CategoryId = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SysCode)
        </td>
        <td>
            @Html.ActionLink("Products", "PackagesByCategory", "TravelTourPackages", new { CategoryId = item.Id }, null ) 
        </td>
    </tr>
}

</table>
