@{
    ViewBag.Title = "About";
}
<h3>Real Breeze Travel and Tours - Philippines</h3>
<p>
    Real Breeze Travel & Tours is offering the most affordable travel packages all over the Philippines.
    With several partners all over the country, Real Breeze always strives for best service and quality for every guest.
</p>

<p>
    @Html.ActionLink("Home","index")
</p>
