@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>RealBreeze Travel and Tours</h3>
<address>
    2nd Floor J. Sulit Bldg, Mac Arthur Highway, Davao City<br />
    Philippines<br />
    <abbr title="Phone">Tel#:</abbr>
    +63 82 297.1831
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:travel.realbreeze@gmail.com">Email our Travel & Tour Sales and Marketing</a><br />
</address>

<h3>Website Developer</h3>
<address>
    <strong>Support:</strong>   <a href="mailto:assalvatierra@gmail.com">Email Website Support</a><br />
</address>


<br /><br />
<p>
    @Html.ActionLink("Home", "index")
</p>
