@model IEnumerable<TravelPackage.Models.tpAreas>

@{
    ViewBag.metaTitle = "ZeeIT Technologies";
    ViewBag.metaDescription = "IT Software Services";
}

<div class="jumbotron">
    <h1>ZeeIT Technologies</h1>
    <p>Software Development Services</p>
</div>
<!--About-->



<!--Services -->
<div class="container">
    <h1 class="Title">Services</h1>
    <div class="row">

        @foreach (var item in Model)
        {
        <div class="col-sm-6 services">
            <div class="col-sm-3">
                <img class="services-img" src="@item.PgFeatureImg">
            </div>
            <div class="col-sm-9 services">
                <h3 class="services">@item.Name</h3>
                <p>
                   @item.PageRemarks
                </p>
            </div>
        </div>
        }
    </div>
</div>

<!--Projects-->
<div class="container-fluid projects">
    <h1 class="Title">Projects</h1>
    <div class="row">
        <div class="col-sm-12 projects">
            <div class="row">
                <div class="col-sm-3">

                    <img class="projects" src="~/Images/misc/lab.png" />
                </div>

                <div class="col-sm-6 projects-desc">
                    <h2 class="projects">Laboratory Information System</h2>
                    <p>
                        Manages the scheduling and updates of
                        laboratory appointments with automated
                        SMS System to notify all contact persons.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-12  projects">
            <div class="row">

                <div class="col-sm-3">
                    <img class="projects" src="~/Images/misc/trolley.png" />
                </div>

                <div class="col-sm-6 projects-desc">
                    <h2 class="projects">Inventory System</h2>
                    <p>
                        A customized Inventory System that handles the 
                        products of the company and provide updates to 
                        the company branches and offices.

                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 projects">
            <div class="row">

                <div  class="col-sm-3">
                    <img class="projects" src="~/Images/misc/web.png" />
                </div>

                <div class="col-sm-6 projects-desc">
                    <h2 class="projects">Realbreeze Davao Website</h2>
                    <p>
                        Realbreeze Travel and Tours website located in Davao City.
                        They off tour packages, ticketing, car rental and other services

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Clients-->
<div class="container clients">

    <div class="row">

        <h1 class="Title">Clients</h1>

        <div class="col-sm-4">
            <a href="http://realbreezedavaotours.com/"><img  class="client-img" src="~/Images/misc/realbreeze_logo.png" /></a>
        </div>

        <div class="col-sm-4">
            <a href="http://www.ajdavaocarrental.com/"><img  class="client-img"  src="~/Images/misc/AJCarRental.png" /></a>
        </div>

        <div class="col-sm-4">
            <a href="http://realwheelsdavao.com/"><img  class="client-img" src="~/Images/misc/Realwheelsdavao_logo.png" /></a>
        </div>


    </div>
</div>

<!--About-->
<div class="container about" >
  
    <div class="row">

        <h1 class="Title">About Us</h1>

        <div class="col-sm-6">
            <img class="about" src="~/Images/misc/aboutus.png" />
        </div>

        <div class="col-sm-6">
            <p class="about">
                 We develop software and systems that
             maximizes the potential in every business. Using the
             new technologies available in the market, our team
             integrates those available resources to provide a 
             sustainable and efficient services and products to 
             partners. Our team focuses on software planning, 
             design, development, testing and integration. 
            </p>

            <br />
            <p class="about">
            <p>Company Address</p>
            <p>2nd Floor Sulit Bldg McArthur Hwy, Matina, Davao City, 8000 Davao del Sur</p>

        </div>


    </div>
</div>


