@model IEnumerable<TravelPackage.Models.tpKeyword>

@{
    int iCnt = Model.Count();
    int iK = 0;
}

<p>
    @if (iCnt > 0)
    {
        <span style="font-size:small">Tags</span>

    }

    <span style="font-size:small">
        @foreach (var item in Model)
            {
                iK++;
                if (iK > 1)
                {
                <span>&nbsp;</span>
            }

            @Html.ActionLink(item.Keyword, "PackagesByTags", "TravelTourPackages", new { sTag = item.Keyword }, null)



        }
    </span>
</p>







