body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

p{
    font-family:'Century Gothic', Arial, sans-serif;
    font-size:15px;
}
h1{
    
    font-family:'Segoe UI', Arial, sans-serif;
    font-size:35px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.breadcrumbs10 {
  padding: 3px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

@media (min-width: 768px){
    .callbutton{
        visibility:hidden !important;
    }

    .contachbutton{
        visibility:visible !important;
    }

}

@media (max-width: 767px) {
    .callbutton{
        visibility:visible !important;
    }
    .contachbutton{
        visibility:hidden !important;
    }
}

.container.services{
    margin:5%;
    width:100%;
}

h1.Title{
    color:deepskyblue;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    font-weight:bolder;
}


h3.services{
    color:deepskyblue;
    text-align:left;
}

.col-sm-6{
    align-items:center;
    margin-bottom:3%;
}

.container-full {
  background-color:gray;
  margin: 0 auto;
  width: 100%;
}

.services-img{
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

.col-sm-9.services{
    padding:5%;
}

/*Projects*/

div{
    /*border:1px solid;*/
}

img.projects {
    text-align:right;
    display: block;
    margin: 0 auto;
    width:100%;
    height:100%;
    height:80px;
    width:80px;
    align-content:stretch;
}

.col-sm-12.projects{
    margin:0%;
    margin-left:10px;
}


.col-sm-12.projects-desc{
    border:1px solid lightgray;
}


h3.projects{
    color:deepskyblue;
    text-align:left;
}



h2.projects{
    color:deepskyblue;
    text-align:left;
    margin-top:1%;
}

.container-fluid.projects{
    background-color:#e5e5e5;
    padding-top:1%;
    padding-bottom:5%;
}

/*about*/
p.about{
    text-align:left;
}
img.about{
    
    display: block;
    margin: 0 auto;
    width:100%;
    height:100%;
    max-height:300px;
    max-width:250px;
    display: block;
    align-content:center;
}



.container.about{
    padding-top:1%;
    background-color:#e5e5e5;
}
/*clients*/
.container.clients{
    padding-bottom:10%;
}

img.client-img{

    width:300px;
    height:100px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
    top: 50%;
}

